*{
    background-color: black;
}



.Clase{
    width: 100%;
    background-color: black;
    overflow: auto;
    border: solid 2px black;
}

.Clase a{
    float: left;
    text-align: center;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 2%;
}

.active{
    background-color: rgb(245, 0, 0);
    color: white;

}

img{
    width:30%;
}

.TITULO{
    float: right;
    text-align: center;
    padding-right:10px;
    padding-top: 100px;
    color: white;
    font-size: 25px;
}

.P1{
    font-size: 20px;
    
}