.caja1{
    float: left;
    margin-right: 200px;
    margin-left: 120px;
}

.caja1 img{
    height: 300px;
    width: 500px;
}

.caja2 img{
    width: 500px;
    height: 300px;
}

.galeria1 img{
    width: 45%;
    height: 300px;
    margin:2.5%;
}

.e1{
    text-align: center;
    font-size: 30px;
}

.galeria2 img{
    width: 45%;
    height: 300px;
    margin:2.5%;
}

.footer1{
    padding-right: 100px;
    float: right;
    font-size: 20px;
}

.iconos1{
    float: left;
    width: 30%;
    padding-left: 80px;
    font-size: 20px;
}
.texto22{
    padding-top: 20px;
}

.iconos2{
    padding: 5%;
    font-size: 50px;
    display: block;
    letter-spacing: 25px;
    cursor: pointer;
    padding-left: 80px;
}
.footer{
    display: block;
    position: fixed;
}

.imagen1{
    width: 50px;
    padding-top: 50px;
}