<h1>Lanzamiento de nuevos juegos enero 2022</h1>
<hr>
<br>

<br>
<div class="caja1">
    <h2>Doom Eternal 15/01/22</h2>

    <br>
    <img src="assets/doom-eternal-review-generacion-xbox-portada-940x586.jpg.webp" alt="">
</div>
<br>
<div class="caja2">
    <h2>Ghostwire Tokio 22/01/22</h2>
    <br>
    <img src="assets/header.jpg" alt="">
</div>
<br>
<div>
    <p class="e1">Galeria !DOOM ETERNAl!</p>
    <hr>
</div>
<div class="galeria1">
    <img src="/assets/2507465e209adfa8ecd4_web.webp" alt="">
    <img src="/assets/CCAEodPgRurVyDoudRGRyC.jpg" alt="">
    <img src="/assets/maxresdefault.jpg" alt="">
    <img src="/assets/doom-eternal-new-demons.jpg" alt="">
</div>

<p class="e1">Galeria !GHOSTWIRE TOKIO!</p>
<hr>
<div class="galeria2">
    <img src="/assets/-1644160613798.jpg" alt="">
    <img src="/assets/16482110151717.jpg" alt="">
    <img src="assets/ghostwire_tokyo_gameplay.jpg" alt="">
    <img src="/assets/Ghostwire-fecha-de-lanzamiento-de-Tokio-fijada-para-el-25.jpg" alt="">
</div>
<hr>
<footer>
    <div>
        <div class="iconos1">
            Contactanos por facebook twitter instagran
            para mas informacion
            <ul class="texto22">
                <li>Creador:Royer</li>
                <li>Correo:Mono231@gmail.com</li>
            </ul>
            <div class="iconos2">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
        <div class="footer1">
            <h2>Informacion de contacto</h2>
            <label for="Nombre">Nombre</label>
            <input type="text">
            <hr>
            <br>
            <label for="Apellidos">Apellidos</label>
            <input type="text">
            <hr>
            <br>
            <label for="Correo">Correo</label>
            <input type="text">
            <hr>
            <br>
            <label for="Contrasena">Contraseña</label>
            <input type="text">
            <hr>
            <br>
        </div>
    </div>
</footer>