.NFL{
    height: auto;
    width: 130px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    padding-top: 16px;
    margin-top:8%;
    border-radius: 4px;
    font-size: 20px;
    position: fixed;
    text-align: center;
    
  }
  
  
  .NFL a{
      color: white;
      font-size: 20px;
      text-decoration: none;
      display: block;
      padding: 50px;
  }
  .active{
    background-color:rgb(255, 0, 0);
    color: white;
  
  }